<%- include("./partials/header") -%>

<div class="jumbotron">
  <h1 class="text-secondary text-center">Resolved <span class="text-success"><ion-icon name="checkmark"></ion-icon></span></h1>
</div>

<%- include("./partials/ticketlist") -%>

<%- include("./partials/footer") -%>
