<%- include("./partials/header") -%>

<div class="jumbotron text-center">
  <h1>All <span class="text-primary"><%=userName%></span> Tickets</h1>
</div>





<%- include("./partials/ticketlist") -%>


<%- include("./partials/footer") -%>
